<% provide :title, "Editing \"#{@badge.name}\"" %>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Edit badge</h1>
    </div>
  </div>
</div>
<%= render partial: "form", locals: { badge: @badge } %>