<% provide :title, "All the badges on Bdger" %>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>All the badges <small>Gotta catch &lsquo;em all!</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @badges.each do |badge| %>
        <li class="span3">
          <div class="thumbnail">
            <a href="<%= badge_path(badge) %>">
              <%= image_tag badge.image_url, width: 200, height: 200 %>
            </a>
            <h5><%= link_to badge.name, badge_path(badge) %></h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>