<% provide :title, "#{@badge.name} on Bdger" %>
<div class="row">
  <div class="span4 badge-icon">
    <img src="http://24.media.tumblr.com/34c13686c02c80fa585c7afe5c36166b/tumblr_mg7icx7J2p1rha3vbo1_r1_500.png" width="250" />
  </div>
  <div class="span6">
    <h1><%= @badge.name %></h1>

    <div class="row meta-links">
      <div class="span8">
        <ul class="inline">
          <% if user_signed_in? %>
            <li><a href="<%= new_achievement_path(@badge) %>"><i class="icon-plus"></i> Claim this badge</a></li>
          <% end %>
          <li><a href="<%= @badge.big_cartel_link %>" rel="external"><i class="icon-external-link"></i> Buy on Bigcartel</a></li>
          <li><a href="<%= @badge.tumblr_link %>" rel="external"><i class="icon-retweet"></i> Reblog on Tumblr</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span6 props-title">
        <span class="count">16 people</span> claimed this badge
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <ul class="props inline">
          <li class="check-icon">
            <i class="icon-check"></i>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
          <li class="face">
            <a href="#">
              <img src="https://secure.gravatar.com/avatar/75f9c25580187c7a403d9dfb817fb445?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="32" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>