<% provide :title, "Help" %>
<div class="row">
  <div class="span12">

<h1>Help</h1>

<p>Below are some common questions people ask about Bdger. For more information about Bdger, or if you need support, please <a href="/contact">contact us</a>.</p>

<h2>Can I control who sees me or the content I post on Bdger?</h2>

<p>Profiles, badges, and achievements on Bdger are public, and anyone can view them. We will add more ways to control the visibility of your content in a future update.</p>

<h2>Do I have to login through Twitter?</h2>

<p>At the moment, yes. We realize this is an inconvenience to some users who don’t have a Twitter account or don’t want to sign up for a Twitter account. We will offer other authentication options in a future update.</p>

<h2>Can I delete my account?</h2>

<p>If you want to delete your account, please <a href="/contact">contact us</a> directly through email. We’ll be sad to see you go!</p>


  </div>
</div>