<% provide :title, "Privacy Policy (January 24, 2013)" %>
<div class="row">
  <div class="span12">

<h1>Privacy Policy</h1>

<p>Bdger (“The Company”) is committed to protecting the privacy of your information. This Privacy Policy describes how and when Bdger collects, uses, and shares your information when you use our Services.</p>

<h2>1. Web Site Covered</h2>

<p>This Privacy Policy covers the information practices of <%= link_to "https://www.bdger.com", "https://www.bdger.com" %>.</p>

<h2>2. Information Collected</h2>

<p><strong>Creating a Bdger account and profile information.</strong> When you create a Bdger account, you must provide access credentials either in the form of an email address and password, or by authentication using another service, such as Twitter. You may optionally provide additional profile information including a short bio, profile picture, and link to a personal website. If you create your Bdger account by authenticating through another service, we may use public information from that connected account to complete your Bdger profile. You may update or modify your profile information and contact information at any time. Profile information is available publicly on our Services, such as on your profile page.</p>

<p><strong>Contact information.</strong> In addition to using your contact information to create your account, we may use this information to send you information about our Services, respond to your requests, and facilitate your use of the Services.</p>

<p><strong>Connecting and posting to other services.</strong> Our Services include features that connect to other services, such as Twitter. Bdger will never modify your information on any connected services. You must authorize Bdger to post on your behalf to connected services, and you may revoke this permission at any time.</p>

<p><strong>Content posted.</strong> The content that you post to Bdger is public information, including any personal information your choose to include in that content. When you share information via the Services, you should think carefully about what you are making public.</p>

<p><strong>Links.</strong> We may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to collect data in order to help improve our Services.</p>

<p><strong>Cookies.</strong> Bdger uses cookie technology to collect additional website usage data and to improve our Services. A cookie is a small data file that is sent from our servers and stored on your computer’s hard drive. Cookies are required to authenticate to our Services, but are not required for viewing public information. Bdger may use both session cookies and persistent cookies to better understand how you interact with our SErvices, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and imporve our Services. Most Internet browsers automatically accept cookies. If you do not want cookies from Bdger or other websites, you can instruct your browser to stop accepting cookies or to prompt you before accepting cookies by changing settings. However, some of our Services may not function properly if you disable cookies, or choose not to accept cookies from Bdger.</p>

<p><strong>Log data.</strong> Our servers automatically record information created by your use of the Services to log files. Log data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, your Internet Service Provider, device and application IDs, search terms, and cookie information. We receive log data when you interact with our Services, for example, when you visit our websites, or when you sign into our Services. Bdger uses log data to provide our Services, and to measure, customize, and improve them. Log data is deleted after a maximum of 18 months.</p>

<p><strong>Third-party service providers.</strong> Bdger uses a variety of third-party services to help support our Services, such as hosting various blogs and wikis, and to help us understand the use of our Services. These third-party service providers may collect information sent by your browser as part of a web page request, such as cookies, or your IP address.</p>

<h2>3. Information Sharing and Disclosure</h2>

<p><strong>Your Consent.</strong> We may share your information only at your direction, such as when claiming a badge or updating your profile information.</p>

<p><strong>Law and Harm.</strong> Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation, or legal request; to protect the safety of any person; to address fraud, security, or technical issues; or to protect Bdger’s rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.</p>

<h2>4. Our Policy Towards Children</h2>

<p>Our Services are not directed to persons under the age of 13. If you become aware that your child has provided us with personal information without your consent, please contact us at <%= mail_to "support@bdger.com", nil, encode: :hex %>. We do not knowingly collect personal information from children under the age of 13. If we become aware that a child under the age of 13 has provided us with personal information, we take steps to remove such information and terminate the child’s account.</p>

<h2>5. Changes to the Policy</h2>

<p>We may revise this Privacy Policy from time to time. The most current version of the Policy that will govern our use of your information will always be at <%= link_to "https://www.bdger.com/privacy", "https://www.bdger.com/privacy" %>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an email to the email address associated with your account or through the Services. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>

<p><em>Effective: January 24, 2013</em></p>

  </div>
</div>