$darkGrey: #888;

body#home {
  background-color: #fff;

  #main {
    margin-top: 40px;

    #logo {
      height: 156px;
    }

    #signin {
      height: 156px;
      text-align: center;

      #buttonWrap {
        left: 50%;
        margin-top: -18px;
        margin-left: -85px;
        position: relative;
        top: 50%;
        width: 170px;

        #btn-signin {
          margin-bottom: 5px;
        }

        #privacy {
          border-bottom: 1px dotted $darkGrey;
          color: $darkGrey;
          font-size: 12px;

          &:hover {
            text-decoration: none;
          }
        }
      }

    }

    .popover {
      .popover-title {
        display: none;
      }

      .popover-content {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
