<% provide :title, "#{@achievement.user.username} claimed #{@achievement.badge.name} on Bdger" %>
<div class="row">
  <div class="span4 badge-icon">
    <%= image_tag @achievement.badge.image_url, width: 250, height: 250 %>
  </div>
  <div class="span8">
    <h2><%= link_to @achievement.user.username, user_path(@achievement.user) %> claimed <%= link_to @achievement.badge.name, badge_path(@achievement.badge) %></h2>

    <div class="row meta-links">
      <div class="span8">
        <ul class="inline">
          <li>
            <i class="icon-time"></i> <%= time_ago_in_words(@achievement.created_at) %> ago
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>